@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --jade-color: #459d57;
}

input[type="checkbox"]:checked {
  background-color: var(--jade-color) !important;
}

Button[data-variant="filled"] {
  background-color: var(--jade-color) !important;
  color: white !important;
}

Button[data-variant="outline"] {
  background-color: white !important;
  color: var(--jade-color) !important;
  border-color: var(--jade-color) !important;
}
