@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --jade-color: #459d57;
}

button.mantine-Button[data-variant='filled'] {
  background-color: var(--jade-color);
  color: white;
}

button.mantine-Button[data-variant='outline'] {
  background-color: white;
  color: var(--jade-color); 
  border-color: var(--jade-color); 
}

input[type='checkbox']:checked {
  background-color: var(--jade-color);
}